*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;  /*Acomoda el tamaño de la caja segun el ancho y alto */    
}
/*
.container{
    background: linear-gradient(white,#FEB338,#A41307);
    background: linear-gradient(50deg, white ,#FEB338);
}
*/
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Inconsolata', monospace; 
}
.header{
    width: 100%;
    height: calc(100vh-200px);   
    background-color: #01011d;
    background-image: linear-gradient(50deg,#fdfff041 60%,#a41407ad), url(../img/road-1072821_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
    background-position: center;    
    padding: 0.1px; 
}
.title{
    background-color: #e7dadfe0;
    width: 300px;
    height: 100px;
    margin: auto;
    font-size: 60px;
    text-align: center;
    line-height: 100px;    
    margin-top: calc(30vh - 50px);
    font-weight: 400;
    color: #732626;    
}
nav a{    
    color: #8a4e00;
}
.menu{
    width: 100%;   
    margin: auto;
    text-align: center;
    font-size: 19px;    
    font-weight: 800;
}
ul >li{
    list-style: none;
    display: inline-block;
    padding: 15px 30px;
    background-color: #e7dadfc3;
    margin-top: 2%;
    border-radius: 15px;    
}
.div{
    text-align: right;
    padding-right: 5px;
    margin-top: 3%;
}
.enter{
    display: inline-block;
    padding: 15px;
    background-color: #d2d7deb5 ;
    color: #732626;
    text-transform: lowercase;    
    border-radius: 50px;
    cursor: pointer;
    text-decoration: underline;
    font-size: 19px;    
    font-weight: 800;
}
.artContainer>.menu2{
    width: 100%;
    height: calc(100vh-300px); 
    background-color: #732626;
    padding: 2%;
}
.imgTypes{
    width: 45%;
    height: 200px;
    object-fit: cover;
    margin-top: 2.0%;
    margin-bottom: 2.0%;
}
.subtitle{
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 1px 1px 8px #FEB338;
    padding: 2%;
    color:white;
    font-size: 28px;
    font-weight: 800;
}
.description{
    text-align: justify;
    padding: 1%;
}
.flowers{
    margin: 0 auto;
    text-align: center;
}
.artContainer > section {
    height: 100vh;
    position: relative;
    padding: 0.1px;
}
.artContainer > section > h3{
    font-size: 30px;
    margin-top: 3%;
    text-align: center;
}
.artContainer > section > a{
    font-size: 20px;
    width: 8%;
    background-color: #e7dadfc3;
    padding: 10px;
    border-radius: 20%;
    margin: 4% 1%;
    position: absolute;
    right: 0;
    bottom: 0;  
}

.artContainer section:nth-child(2){
    background: linear-gradient(339deg, rgba(255,247,234,1) 0%, rgba(254,179,56,1) 96%, rgba(164,19,7,1) 100%);
}
.artContainer section:nth-child(3){
    background: rgb(254,179,56);
    background: linear-gradient(210deg, rgba(254,179,56,1) 0%, rgba(231,138,43,1) 11%, rgba(164,19,7,0.7651260333234856) 43%, rgba(255,247,234,1) 100%); 
}
.artContainer section:nth-child(4){
    background: rgb(254,179,56);
    background: linear-gradient(315deg, rgba(254,179,56,1) 0%, rgba(250,129,30,1) 100%); 
}
.artContainer section:nth-child(5){
    background: linear-gradient(339deg, rgba(255,247,234,1) 0%, rgba(254,179,56,1) 96%, rgba(164,19,7,1) 100%);
}
.artContainer section:nth-child(6){
    background: rgb(254,179,56);
    background: linear-gradient(315deg, rgba(254,179,56,1) 0%, rgba(250,129,30,1) 100%);
}


.footer{
    width: 100%;
    height: calc(100vh - 20%);  
    background: linear-gradient(45deg,#732626,#a41407 60%,#8a4e00);   
}
.footer a{
    color: #d2d7de;
    padding: 5px;
}
.textNetworks{
    font-size: 20px;
    display: inline-block;
    padding: 15px;
    width: 48%;
    box-sizing: border-box;
    color: #d2d7de;
}
.networks{
    display: inline-block;
    text-align: end;
    font-size: 25px;
    width: 50%;
    box-sizing: border-box;  
}
.middleFooter{
    width: 100%;   
    padding: 20px;
    vertical-align: bottom;
}
.copy{
    width: 100%;
    height:40px;   
    margin: auto;    
    margin-top: 5px;
    background: linear-gradient(45deg,#f3f3f344 ,#8a4e0050); 
    text-align: center;
    color: #d2d7de;    
   
}