#paragraph{ 
    margin-top: 25px;
    color:blanchedalmond;
    padding: 10px;
    background-color: aqua;
}
.estilo1{
    margin: 20px;
    background-color: blueviolet;
    color: #A64941;
    padding: 25px;
}
h1{
    background-color: aquamarine;
}